html {
    vertical-align: baseline;
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-width: 430px;
    background: linear-gradient(180deg, #232637 0%, #827C93 100%);
}

body {
    height: auto;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Kumar One', sans-serif;
    color: #EDF2F4;
    overflow-wrap: normal;
}

div {
    height: auto;
    width: 100%;
}

section {
    margin-bottom: 30px;
}

.container {
    display: grid;
    max-width: 1500px;
    justify-items: center;
    margin: 0 auto;
    height: inherit;
}

button {
    cursor: pointer;
}

p {
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 52px;
    gap: 25px;
    background: #F4F4F4;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.logo {
    width: 137px;
    height: 51px;
    max-width: 240px;
}

.logo img {
    width: inherit;
    height: inherit;
}

nav {
    display: none;
}

.search {
    display: flex;
    align-items: center;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background: #39394C;
    justify-content: flex-start;
    box-shadow: 5px 4px 4px 0px #00000080 inset;
}

.hamburgermenu {
    display: none;
}

.searchBtn {
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.search input {
    width: 100%;
    height: inherit;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    margin-left: 35px;
}

.search label {
    position: absolute;
    margin: 0 50px;
}

header button {
    border: none;
    width: auto;
    height: inherit;
    padding: 0;
    background-color: #F4F4F4;
}

.profile {
    width: 52px;
    height: 52px;
}

@media (min-width: 840px) {
    header {
        display: flex;
        width: 100%;
        height: 119px;
        gap: 0;
        background: #F4F4F4;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
        filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
    }

    nav {
        display: flex;
        max-width: 700px;
        width: -webkit-fill-available;
        align-items: center;
        justify-content: space-around;
    }

    nav a {
        font-size: 15px;
        text-decoration: none;
        color: #232931;
        margin: 0 5px;
    }

    .search {
        width: -webkit-fill-available;
        max-width: 25%;
        height: 40px;
        justify-content: flex-end;
    }

    .hamburgermenu {
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 10px;
    }

    .search input {
        width: 100%;
        height: inherit;
        border-radius: 10px;
        border: none;
        margin-left: 10px;
        background-color: transparent;
    }

    header button {
        margin: 0 10px;
    }
}

@media (min-width:1000px) {
    .logo {
        width: auto;
        max-width: inherit;
    }

    nav a {
        font-size: 20px;
    }
}

.photo {
    display: flex;
    width: 100%;
    align-items: center;
}

.mainPhoto {
    width: inherit;
    height: inherit;
    max-height: 500px;
}

.photo button img {
    color: #39394C;
}

.leftBtn {
    position: absolute;
    z-index: 2;
    background-color: transparent;
    border: none;
    left: 1px;
}

.rightBtn {
    position: absolute;
    z-index: 2;
    background-color: transparent;
    border: none;
    right: 1px;
}

.mainTitle {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.mainTitle h1,
h3 {
    display: grid;
    margin: 0;
    font-family: 'Kumar One';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.35px;
    text-decoration: underline;
    text-align: right;
    padding-right: 4px;
    width: 50%;
    height: 30px;
    border-radius: 3px;
    background: #D9D9D9;
    color: #232931;
    align-items: center;
}

.mainTitle h2 {
    display: grid;
    margin: 0;
    font-family: 'Kumar One';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.35px;
    text-decoration: underline;
    text-align: left;
    padding-left: 4px;
    width: 50%;
    height: 30px;
    border-radius: 3px;
    background: #D9D9D9;
    color: #232931;
    align-items: center;
}

.mainTitle:has(h2) {
    display: flex;
    justify-content: flex-end;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.article {
    display: flex;
    width: 45%;
    height: 120px;
    border-radius: 3px;
    background: #D9D9D9;
    gap: 15px;
}

.article img {
    border-radius: inherit;
}

.text {
    display: grid;
    width: 85%;
    height: 90%;
    padding: 5px;
}

.titleDiv {
    width: auto;
    height: min-content;
}

.title {
    margin: 0;
    width: inherit;
    height: fit-content;
    font-family: 'Kumar One';
    font-size: 7px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #232931;
}

.article hr {
    margin: 0;
    width: 100%;
    height: 1px;
    background-color: #232931;
    border: none;
}

.description {
    margin: 0;
    width: inherit;
    height: fit-content;
    font-family: 'Kumar One';
    font-size: 5px;
    font-weight: 400;
    line-height: 8px;
    text-align: left;
    color: #232931;
}

.btn {
    display: flex;
    margin-top: 10px;
    width: 63px;
    height: 13px;
    border-radius: 2.5px;
    background: #D9D9D9;
    font-family: 'Kumar One';
    font-size: 6px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
    color: #39394C;
    align-items: center;
    justify-content: center;
}

.readMoreBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 10px;
    border-radius: 2.5px;
    font-family: 'Kumar One';
    font-size: 6px;
    font-weight: 400;
    line-height: 11px;
    text-align: left;
    padding: 0;
    background-color: #39394C;
    color: #FFFFFF;
}

@media (min-width: 600px) {
    .title {
        font-size: 12px;
        line-height: 12px;
    }

    .description {
        font-size: 7px;
        line-height: 8px;
    }

    .btn {
        width: 70px;
        height: 13px;
        font-size: 7px;
    }

    .readMoreBtn {
        width: 70px;
        height: 13px;
        font-size: 7px;
    }
}

@media (min-width: 840px) {

    .mainTitle {
        border-width: 2px;
        border-style: solid;
        border-color: #D9D9D9;
        border-left: none;
        border-right: none;
    }

    .mainTitle h1,
    h3 {
        height: 40px;
        border-radius: 0;
    }

    .mainTitle h2 {
        height: 40px;
        border-radius: 0;
    }

    .articles {
        justify-content: space-around;
    }

    .article {
        max-width: 380px;
    }

    .title {
        font-size: 15px;
        line-height: 20px;
    }

    .description {
        font-size: 9px;
        line-height: 15px;
    }

    .btn,
    .readMoreBtn {
        width: 90px;
        height: 25px;
        font-size: 10px;
    }
}

@media (min-width:1000px) {

    .mainTitle h1,
    h3 {
        font-size: 20px;
    }

    .mainTitle h2 {
        font-size: 20px;
    }

    .article {
        max-width: 500px;
        height: 200px;
    }

    .title {
        font-size: 20px;
        line-height: 25px;
    }

    .description {
        font-size: 15px;
        line-height: 20px;
    }

    .btn,
    .readMoreBtn {
        width: 120px;
        height: 30px;
        font-size: 15px;
    }
}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan {
    display: flex;
    color: #FFFFFF;
    width: 142px;
    height: 79px;
    border-radius: 3px;
    background-color: #282839;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.plan .text {
    display: grid;
    width: auto;
    height: 90%;
    padding: 5px;
    align-items: center;
}

.defaultPlan,
.founderPlan {
    margin: 0;
    font-family: 'Kumar One';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.56px;
    color: #B3B1BC;
    text-align: left;
}

.planTitle hr {
    display: none;
}

.plan p {
    font-family: 'Kumar One';
    font-size: 8px;
    font-weight: 400;
    line-height: 10.03px;
    text-align: left;
    color: #B3B1BC;
}

@media (min-width: 600px) {
    .plans {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .plan {
        display: flex;
        width: 35%;
        height: 120px;
        margin: 0;
    }

    .plan .text {
        width: 100%;
    }

    .defaultPlan {
        display: grid;
        font-family: 'Kumar One';
        width: 100%;
        text-align: center;
        font-size: 17px;
        line-height: 19px;
        justify-content: end;
    }

    .founderPlan {
        display: grid;
        font-family: 'Kumar One';
        width: 100%;
        text-align: center;
        font-size: 17px;
        line-height: 19px;
        justify-content: start;
    }

    .defaultPlan hr,
    .founderPlan hr {
        display: block;
        margin: 0;
        height: 1px;
        background-color: #B3B1BC;
        width: 185px;
    }

    .plan .price {
        display: flex;
        justify-content: flex-end;
        margin-right: 15%;
    }

    .plan:has(.founderPlan) .price {
        display: flex;
        justify-content: flex-start;
        margin-left: 15%;
        margin-right: 0;
    }

    .plan .removeAds {
        display: flex;
        justify-content: flex-end;
        margin-right: 25%;
    }

    .plan:has(.founderPlan) .removeAds {
        display: flex;
        justify-content: flex-start;
        margin-left: 25%;
        margin-right: 0;
    }

    .plan .privilege {
        display: flex;
        justify-content: flex-end;
        margin-right: 35%;
    }

    .plan:has(.founderPlan) .privilege {
        display: flex;
        justify-content: flex-start;
        margin-left: 35%;
        margin-right: 0;
    }

    .plan p {
        text-align: center;
        font-size: 10px;
        line-height: 12px;
    }
}

@media (min-width:1000px) {

    .plan {
        width: 30%;
        height: 150px;
        max-width: 350px;
    }

    .planTitle {
        font-size: 23px;
        line-height: 19px;
    }

    .plan p {
        font-size: 15px;
        line-height: 15px;
    }
}

section#ContactUs {
    display: block;
}

.contactUsDiv {
    display: flex;
    gap: 5px;
}

.contactUsDiv img {
    border-radius: 5px;
    width: 30%;
}

.contactUsDiv .mainTitle {
    display: flex;
    border: none;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
}

.contactUsDiv .mainTitle h3 {
    display: grid;
    height: 80px;
    width: 95%;
    padding-right: 2%;
    font-size: 12px;
    justify-items: end;
    align-content: center;
    background-color: #B3B1BC;
    color: #39394C;
    max-width: 800px;
}

.contactUsDiv .mainTitle h3 p {
    max-width: 270px;
    width: 40%;
    font-size: 10px;
    margin-bottom: 5px;
}

.contactUsDiv .mainTitle hr {
    width: 100%;
    height: 2px;
    margin: 0;
    background-color: #39394C;
}

.inputDiv {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 810px;
    justify-items: center;
    gap: 10px;
    align-content: flex-start;
    justify-content: center;
}

.inputDiv input {
    font-family: 'Kumar One';
    width: 90%;
    height: 15%;
    margin: 0 5%;
    border-radius: 10px;
    background-color: #C7C7C7;
    padding-left: 10px;
    border-width: 1px;
}

.inputDiv input.textInput {
    height: 45%;
}

.inputDiv button {
    font-family: 'Kumar One';
    color: #232931;
    width: 80px;
    height: 20px;
    border-radius: 8px;
    font-size: 10px;
    margin: 0;
    line-height: 5px;
}

@media (min-width:520px) {
    .contactUsDiv .mainTitle h3 p {
        width: 35%;
    }
}


@media (min-width:600px) {
    .contactUsDiv .mainTitle h3 p {
        width: 28%;
    }
}

@media (min-width:750px) {
    .contactUsDiv .mainTitle h3 p {
        width: 26%;
    }
}



@media (min-width: 800px) {

    .contactUsDiv {
        gap: 10px;
    }

    .contactUsDiv .mainTitle h3 {
        width: 95%;
        height: 130px;
        font-size: 25px;
        line-height: 30px;
    }

    .contactUsDiv .mainTitle h3 p {
        max-width: 270px;
        width: 40%;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .contactUsDiv .mainTitle hr {
        height: 3px;
        margin-top: 8px;
    }

    .inputDiv {
        max-width: 810px;
        gap: 12px;
    }

    .inputDiv input.textInput {
        height: 55%;
    }

}


@media (min-width:900px) {
    .contactUsDiv img {
        width: 30%;
    }

    .inputDiv input.textInput {
        height: 80%;
    }

    .contactUsDiv .mainTitle h3 {
        font-size: 30px;
        line-height: 30px;
        color: #39394C;
    }

    .contactUsDiv .mainTitle h3 p {
        font-size: 20px;
    }

}

@media(min-width:1000px) {

    .contactUsDiv img {
        width: 35%;
    }

    .inputDiv {
        margin-top: 20px;
        gap: 15px;
    }

    .inputDiv input {
        height: 20%;
    }

    .inputDiv input.textInput {
        height: 70%;
    }

    .inputDiv button {
        font-family: 'Kumar One';
        color: #232931;
        width: 100px;
        height: 30px;
        border-radius: 8px;
        font-size: 10px;
        margin: 0;
        line-height: 10px;
    }

}

@media(min-width:1200px) {

    .inputDiv {
        margin-top: 15px;
        gap: 20px;
    }

    .inputDiv input {
        height: 30%;
    }

    .inputDiv input.textInput {
        height: 90%;
    }
}

footer {
    display: flex;
    padding: 5px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(90deg, hsla(256, 10%, 53%, 1) 0%, hsla(231, 22%, 18%, 1) 100%);
}

.other {
    display: flex;
    width: max-content;
    justify-content: center;
    flex-direction: column;
}

.socials {
    display: flex;
    width: max-content;
    justify-content: center;
}

footer a {
    font-family: 'Alike';
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 5px;
}

footer hr {
    margin: 10px 0;
    width: 90%;
}

.footerDiv {
    display: flex;
    margin: 0 5%;
    justify-content: space-around;
}

.footerLogo {
    width: 40%;
}

.info {
    display: grid;
    width: fit-content;
    justify-content: space-between;
}

.info .title {
    width: fit-content;
    font-size: 6px;
    text-decoration: underline;
    color: #B3B1BC;
}

.other img {
    width: 12px;
    height: 10px;
    margin-right: 10px;
}

.other p {
    display: flex;
    font-size: 4px;
    color: #B3B1BC;
    align-items: center;
    margin-bottom: 3px;
}

.socials img {
    width: 10px;
    height: 10px;
}

.disclaimer {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.disclaimer p {
    width: fit-content;
    display: flex;
    font-size: 3.5px;
    margin-top: 3px;
    color: #B3B1BC;
    align-items: center;
}

.copyrightImg {
    width: 8px;
    height: 8px;
    margin-right: 2px;
}

@media (min-width: 600px) {
    .other img {
        width: 18px;
        height: 18px;
    }

    .info .title {
        font-size: 10px;
    }

    .other p {
        font-size: 8px;
    }

    .disclaimer p {
        font-size: 7px;
    }

    .footerLogo {
        height: 100%;
    }

    .copyrightImg {
        width: 10px;
        height: 10px;
    }

    .socials img {
        width: 18px;
        height: 18px;
    }
}

@media (min-width:900px) {
    .other img {
        width: 25px;
        height: 25px;
    }

    .info .title {
        font-size: 15px;
    }

    .other p {
        font-size: 10px;
    }

    .disclaimer p {
        font-size: 9px;
    }

    .copyrightImg {
        width: 15px;
        height: 15px;
    }

    .socials img {
        width: 25px;
        height: 25px;
    }

}